@import url("https://fonts.googleapis.com/css?family=Exo+2:500&display=swap");

.main_nav {
  display: flex;
  align-items: center;
  color: #333;
  /* background-image: url(../../assets/test-bg.png); */
  /* background-size: 50%; */
  /* background-position: center; */
  background-color: #6cc24a;
  font-size: 14px;
  min-height: 7vh;
}

.nav_container {
  width: 75%;
  margin: 0 auto;
}

.nav_link {
  font-size: 1.5rem;
  /* font-weight: 600; */
  margin-left: 20px;
  font-family: "Exo 2", sans-serif;
  transition: color 0.2s;
}

.awesome_icon {
  font-size: 20px;
}

.nav_content {
  vertical-align: middle;
}

.logo {
  height: 3rem;
}

.transparent {
  background-color: transparent;
}
