.App {
  text-align: center;
}

.form_container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px 0;
}

.form_group {
  border: 1px solid rgb(214, 214, 214);
  padding-bottom: 20px;
  background-color: whitesmoke;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_btn {
  width: 87%;
  color: #6de069;
}

.form_title {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(226, 225, 225, 0.7);
  border-bottom: 1px solid rgb(214, 214, 214);
  color: rgb(90, 90, 90);
}

/* Add Test Page  */

.form_container_test {
  max-width: 540px !important;
}

.answer_input {
  margin: 10px 0;
}

.test_btn {
  margin-bottom: 10px;
  min-width: 150px;
}

.test_title {
  color: rgb(104, 104, 104);
}

.question_counter {
  color: rgb(104, 104, 104);
  font-size: 18px;
  margin-bottom: 10px;
}

/* Chapter Page */

.iframe {
  position: absolute;
  height: 92%;
  width: 100%;
  border: none;
}

/* Test Page */
.test_container {
  max-width: 640px;
  margin: 0 auto;
}

.test_list__header {
  text-align: center;
  color: #464646;
  margin: 40px;
}

.test_list__header > p {
  font-size: 18px;
}

.list_group {
  padding: 0;
  background: #edf7ea;
  border-radius: 3px;
}

.test_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 13px;
  padding: 20px 60px;
  white-space: nowrap;
  border-bottom: 1px solid #eae5d9;
}

.test_title {
  margin: 0;
  white-space: normal;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

.delete-button {
  color: rgba(121, 121, 121, 0.562);
  font-size: 2em;
}

.delete-button:hover {
  color: rgb(189, 40, 40);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

.header {
  position: relative;
  color: #fff;
  background-image: linear-gradient(0deg, #5a5a5a 0, #6cc24a);
  /* background-size: 100%; */
  background-position: center;
  text-align: center;
  padding-top: 80px;
  height: 300px;
  margin-bottom: 50px;
  color: rgb(90, 90, 90);
}

.header:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
  border-bottom: 19px solid #fff;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

.header_title {
  color: rgb(54, 54, 54);
}

.header_sub {
  padding-bottom: 50px;
  margin: 50px auto 0;
}

.header_subtitle {
  color: rgb(238, 238, 238);
}

.chapter_list__container {
  max-width: 960px;
  margin: 0 auto;
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 25px "trebuchet MS", "lucida sans";
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.rectangle-list .a_link {
  position: relative;
  display: block;
  padding: 0.4em 3em 0.4em 0.8em;
  *padding: 0.4em;
  margin: 0.5em 0 0.5em 2.5em;
  background: #eee;
  /* ddd */
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.rectangle-list .a_link:hover {
  background: #edf7ea;
  /* eee */
}

.rectangle-list .a_link:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #6cc24a;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list .a_link:after {
  position: absolute;
  content: "";
  border: 0.5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
  transition: all 0.3s ease-out;
}

.rectangle-list .a_link:hover:after {
  left: -0.5em;
  border-left-color: #6cc24a;
}

/* Profile */

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.profile_title {
  text-align: center;
  margin: 20px;
}
.profile_results_title {
  text-align: center;
  margin: 20px;
  margin-bottom: 2em;
}

.profile_attention {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  color: #5a5a5a;
}

.admin_links {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.btn-info {
  margin-right: 10px;
}

.admin_link,
.admin_link:hover {
  text-decoration: none;
  color: whitesmoke;
}

/* Test Page */

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}
.form-radio:checked::before {
  position: absolute;
  font: 13px/1 "Open Sans", sans-serif;
  left: 11px;
  top: 7px;
  content: "\02143";
  transform: rotate(40deg);
}
.form-radio:hover {
  background-color: #f7f7f7;
}
.form-radio:checked {
  background-color: #f1f1f1;
}
label {
  font: 15px/1.7 "Open Sans", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.chapter_list__container {
  max-width: 960px;
  margin: 0 auto;
}

/* Answer Container */

.answer_container {
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  margin-bottom: 2em;
  padding: 20px;
  text-align: start;
}

.answer_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.question_text {
  text-align: center;
  color: rgb(85, 85, 85);
  font-size: 24px;
}
